html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.is-success {
  background: linear-gradient(to bottom right, #571aff, #a280ff)
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
  background: linear-gradient(to bottom right, #7C4DFF, #8f66ff)
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
  background: #ffffcc
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
.checkbox {
    color: white;
}

.checkbox:hover{
  color:white;
}

.toppage {
  padding-top: 6rem;
}

.rememberme {
  padding-bottom: 1rem;
}

.contactus {
  text-align: center;
}